@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #22333b;
  --secondary-color: #0a0908;
  --accent1-color: #eae0d5;
  --accent2-color: #c6ac8f;
  --accent3-color: #5e503f;

  --heading-font: "Roboto", serif;
  --paragraph-font: "Roboto", serif;

  --nav-background-color: #22333b;
  --nav-link-color: #eae0d5;
  --nav-hover-link-color: #c6ac8f;
  --nav-hover-background-color: #0a0908;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  grid-column: 1/3;
  text-align: center;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  margin-bottom: 1cap;
}

header img {
  grid-column: 1/2;
}

header nav {
  grid-column: 2/4;
  display: flex;
  font-size: 1.2rem;
  text-align: center;
  background-color: var(--nav-background-color);
  border-radius: 10px;
}

header nav a {
  flex: 1 1 100%;
  display: block;
  text-decoration: none;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

header nav a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--accent2-color);
}

p {
  font-family: var(--paragraph-font);
}

body {
  font-family: var(--paragraph-font);
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  text-transform: uppercase;
  margin: 25px 0;
}

footer {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 100%;
  padding-top: 3rem;
}

footer p,
footer nav {
  justify-self: center;
  align-self: center;
}

footer nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

footer nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0 0.5rem;
}

footer nav a img {
  width: 32px;
  height: auto;
}

/*Classes*/

.hero,
.trips,
.homepage-hero {
  position: relative;
}

.hero img,
.trips img,
.homepage-hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1,
.hero article,
.trips_action,
.hero-content {
  position: absolute;
}

.hero h1 {
  width: 100%;
  top: 0;
  text-align: center;
  background-color: rgba(10, 9, 8, 0.6);
  margin: 2rem 0;
  padding: 15px 0;
  text-transform: uppercase;
  font-weight: 400;
}

.hero article {
  display: block;
  width: 90%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 7em;
  padding: 1.5rem;
  background-color: rgba(34, 51, 59, 0.7);
}

.hero article img {
  width: 25%;
  float: right;
  margin-left: 10px;
}

.adventure {
  display: grid;
  grid-template-rows: 5rem 1fr;
}

.adventure .images {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.adventure .images img {
  width: 200px;
  height: 133px;
}

.team {
  text-align: center;
}

.team-images {
  display: flex;
}

.team-images div figure,
.team-images div figure img {
  border-radius: 10px;
}

.team-images figure {
  width: 60%;
  padding: 20px;
  margin: 0 auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.team-images figure img {
  width: 100%;
}

.team-images_name {
  display: inline-block;
  font-weight: bold;
  margin-top: 5px;
  font-size: 1.3rem;
  color: var(--primary-color);
}

.team-images_position {
  color: var(--primary-color);
}

.location,
.contact {
  margin-top: 5rem;
}

.location {
  display: flex;
}

.location_information {
  flex: 1;
}

.location_information h2,
.location_information p {
  text-align: center;
}
.location_information h2 {
  margin-bottom: 5px;
}

.location_information p {
  font-weight: bolder;
  font-size: large;
}

.location_information ul li {
  list-style-type: none;
}

.location_information ul {
  width: 50%;
  margin: 0 auto;
  margin-top: 3rem;
}

.location_information li {
  margin: 1rem 0;
}

.location_information-icon {
  width: 1rem;
  margin-right: 1rem;
}

.location_map {
  flex: 1;
}

.location_map iframe {
  width: 100%;
  border: 0;
}

.contact {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 1rem 0;
}

.contact_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100% 100% 100% 100% 100%;
  grid-template-areas:
    "header" "header"
    "message"
    "radio"
    "subscribe"
    "footer";
  width: 35%;
  margin: 0 auto;
}

.name-item {
  grid-area: header;
  grid-column: 1 / 2;
}

.name-item input {
  margin-right: 1rem;
}

.email-item {
  grid-area: header;
  grid-column: 2 / 3;
}

.message-item {
  grid-area: message;
}

.check-item {
  grid-area: subscribe;
}

.check-item div {
  display: inline-flex;
  flex-direction: row;
}

.radio-items {
  grid-area: radio;
}

.message-item,
.check-item,
.radio-items {
  grid-column: 1 / 3;
}

.btn {
  grid-area: footer;
  grid-column: 1 / 3;
  width: 40%;
  margin: 0 auto;
}

.check-item,
.contact_form-item {
  margin: 0.5rem 0;
}

.contact_form-item {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.contact_form-item label {
  margin: 0.5rem 0;
}

.contact_form-item input[type="text"],
.contact_form-item input[type="email"] {
  padding: 5px 0;
}

.trips {
  display: flex;
  align-items: center;
  justify-content: center;
}
.trips_action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.trips img {
  height: 600px;
}

.trips_action div {
  width: 60%;
}

.trips_action div h2 {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  -webkit-text-stroke: 3px var(--secondary-color);
}

.trips_action p {
  display: block;
  width: 80%;
  font-size: larger;
  font-weight: bold;
  margin-top: 3rem;
  text-align: justify;
}

.btn-black {
  background-color: var(--secondary-color);
  padding: 20px 50px;
  border: 0;
  border-radius: 10px;
  font-weight: bold;
  font-size: large;
  margin-top: 3rem;
}

.btn-black:hover {
  background-color: var(--primary-color);
  transition: 300mm;
}

.trips_description {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
}

.trips_description-card {
  padding: 20px;
  width: 30%;
  margin: 0 3rem;
  text-align: justify;
  border-radius: 10px;
}

.trips_description-card h3 {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--secondary-color);
}

.trips_description-card img {
  width: 100%;
  height: 12rem;
  border-radius: 10px;
}

.trips_description-price {
  display: inline-block;
  margin-top: 1rem;
  padding: 10px;
  font-weight: bold;
  font-style: italic;
  background-color: var(--accent3-color);
  border-radius: 10px;
}

.trips_timeline {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3rem;
}

.trips_timeline-action {
  grid-column: 1/2;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trips_timeline-action p,
.trips_timeline-action h2,
.trips_timeline-action div {
  margin: 0 4rem;
}

.trips_timeline-action h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.trips_timeline-action div button {
  margin-top: 2rem;
  padding: 10px 20px;
}

.trips_timeline-schedule {
  grid-column: 2/3;
}

.trips_timeline-schedule {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.timeline_item {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.timeline_column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.timeline_date {
  background-color: var(--accent3-color);
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bolder;
}

.timeline_line {
  width: 10px;
  height: 100%;
  background-color: var(--accent3-color);
  align-self: center;
}

.timeline_title {
  margin-bottom: 0.5rem;
}

/* Homepae  */

.homepage_hero h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.newsletter {
  margin-top: 3rem;
  background-color: #f4f4f4;
  padding: 50px 0;
}

.newsletter h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.newsletter form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.newsletter input,
.newsletter button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
}

.newsletter input[type="text"],
.newsletter input[type="email"] {
  width: 200px;
}

.newsletter button {
  background-color: var(--primary-color);
  color: var(--accent1-color);
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

.cta {
  padding: 50px 0;
}

.button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--accent1-color);
  text-decoration: none;
  border-radius: 5px;
}

.button:hover {
  background-color: var(--secondary-color);
}

.homepage section {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
}

.grid-item {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.grid-item img {
  max-width: 100%;
  height: 300px;
  border-radius: 5px;
}

.grid-item p {
  margin-top: 10px;
}
.homepage-hero img {
  height: 700px;
}
.hero-content {
  top: 0;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
}

.hero-content > div {
  height: 70%;
  background-color: rgba(10, 9, 8, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage-hero h1 {
  margin: 2rem 0;
  padding: 15px 0;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: bold;
}

.homepage-hero p {
  color: var(--accent1-color);
  font-size: 1.5rem;
}
