@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: #22333b;
  --secondary-color: #0a0908;
  --accent1-color: #eae0d5;
  --accent2-color: #c6ac8f;
  --accent3-color: #5e503f;

  --heading-font: "Roboto", serif;
  --paragraph-font: "Roboto", serif;

  --nav-background-color: #22333b;
  --nav-link-color: #eae0d5;
  --nav-hover-link-color: #c6ac8f;
  --nav-hover-background-color: #0a0908;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  margin-bottom: 1cap;
}

header img {
  grid-column: 1/2;
}

header nav {
  grid-column: 2/4;
  display: flex;
  font-size: 1.2rem;
  text-align: center;
  background-color: var(--nav-background-color);
  border-radius: 10px;
}

header nav a {
  flex: 1 1 100%;
  display: block;
  text-decoration: none;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

header nav a:hover {
  text-decoration: underline;
  color: var(--accent1-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--accent2-color);
}

p {
  font-family: var(--paragraph-font);
}

body {
  font-family: var(--paragraph-font);
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  text-transform: uppercase;
  margin: 25px 0;
}

footer {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 100%;
  padding-top: 3rem;
}

footer p, footer nav {
  justify-self: center;
  align-self: center;
}

footer nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

footer nav a {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0 0.5rem;
}

footer nav a img {
  width: 32px;
  height: auto;
}

/*Classes*/

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1,
.hero article {
  position: absolute;
}

.hero h1 {
  width: 100%;
  top: 0;
  text-align: center;
  color: var(--accent1-color);
  background-color: rgba(10, 9, 8, 0.6);
  margin: 2rem 0;
  padding: 15px 0;
  text-transform: uppercase;
  font-weight: 400;
}

.hero article {
  display: block;
  width: 90%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 7em;
  padding: 1.5rem;
  background-color: rgba(34, 51, 59, 0.7);
}

.hero article p {
  color: var(--accent1-color);
}

.hero article img {
  width: 25%;
  float: right;
  margin-left: 10px;
}

.adventure {
  display: grid;
  grid-template-rows: 5rem 1fr;
}

.adventure .images {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.adventure .images img {
  width: 200px;
  height: 133px;
}


